
<% include partials/header%>
<div class="container" style="margin-left:40%;margin-right:50%;display:block;margin-top:0%;margin-bottom:0%">
<button class="btn btn-default btn-lg"><a href="/books">View All Collections</a></button>
<h3>Hey! Check this Out</h3>

</div>

<script type="text/javascript" src="/js/w.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<% include partials/footer%>